body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../BlueNebular_back.jpg') no-repeat;
}

h1,
h2,
h3 {
  font-family: "MedievalSharp", sans-serif;
}

.ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.favorite.selected {
  color: gold;
}

.d-circle-sm {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#map .claim {
  stroke: none;
  cursor: pointer;
}

#map .claim:hover {
  stroke: white;
  stroke-width: 1;
}

#map .system {}

#map.galaxy {
  background: url('../img/verse-galaxy.jpg') no-repeat;
  background-position: center;
  background-size: contain;
}

.majorSector {
  cursor: pointer;
  fill: white;
  fill-opacity: 0;
  stroke: white;
  stroke-opacity: 1;
}

.majorSector:hover {
  stroke-width: 30;
  stroke-opacity: 1;
  fill-opacity: 0.5;
}

.grid {
  fill: black;
  fill-opacity: 0.33;
  stroke: white;
  stroke-width: 0.25;
  stroke-opacity: 0.5;
}

.quiet {
  cursor: pointer;
  fill-opacity: 0.33;
}

.star,
.poi {
  cursor: pointer;
}

.star:hover,
.poi:hover {
  stroke: blue;
  stroke-width: 1;
  stroke-opacity: 1;
}

.planet {
  cursor: pointer;
  stroke: Aqua;
  stroke-width: 1;
  stroke-opacity: 0.5;
}

.planet:hover {
  stroke-width: 5;
  stroke-opacity: 1;
}

.gasGiant {
  fill-opacity: 0.70;
}

#planetoid {
  stroke: Aqua;
  stroke-width: 3;
}

.gasGiant .poly {
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.25;
}

.poly:hover {
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 1;
}

.hex {
  fill: white;
  fill-opacity: 0;
  stroke: white;
  stroke-opacity: 0.5;
}

.hex:hover {
  fill: yellow;
  fill-opacity: 0.3;
}

.feature-marker {
  transform: rotate(90deg);
}

/* Lil GUI */
.lil-gui {
  --font-size: 1em;
  --input-font-size: 1em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Drowpdown container */

.dropdown {
  /* position: relative; */
  /* display: inline-block; */
  direction: rtl;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 160px;
  direction: ltr;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:focus .dropdown-content {
  display: block;
}